* { 
    margin: 0;
    padding: 0;
 }
#content{
    background-color: gray;
    padding: 10% 20%;
}
.title{
    color: goldenrod;
    margin-bottom: 35px;
}
.line{
    max-width: 50px;
    height: 5px;
    color: black;
    border: 5px solid black;
}

